a {text-decoration: none;}



/*HEADER START*/

header {width:100%;display: grid; grid-template-rows: 1; grid-template-columns: 1fr 1200px 1fr; position: fixed;}
.header_inner {grid-row: 1; grid-column: 2; display: grid; grid-template-columns: min-content, 1fr, min-content; grid-template-rows: min-content; padding:20px 0px 0 0px;}
.header_inner img {grid-row: 1; grid-column: 1; width:250px;}
.nav_box {grid-row: 1; grid-column: 3; display: flex; margin:0; padding:0;}
.navigation {display: flex; flex-direction: row; margin-left: auto; align-items: center;}
.navigation li a{display:inline-block; color:white; font-size:1rem;}
.navigation li:not(:last-child) a {padding-right: 30px;}

/*HEADER START*/

.wrap {display: grid; grid-template-columns:1fr 1200px 1fr; grid-template-rows: repeat(8, minmax(30px, max-content));}




/*BANNER DIV START*/


.banner {grid-column: 1 / span 3; grid-row: 1; background-image: linear-gradient(45deg, #532480 15%, #290d48); display: grid; grid-template-columns: 1fr 1200px 1fr; grid-template-rows: max-content;}
.banner_inner {grid-row: 1; grid-column: 2; display: flex; justify-content: space-between; align-items: center; padding:250px 0px 250px 0px;}
.banner_inner_l {margin-left:30px; margin-bottom: -30px;}
.banner_inner h1 {font-size: 2.5rem; line-height: 70px; color:white; font-weight: bold; margin-bottom: 30px;}
.banner_inner_l a {display:inline-block; padding:10px 20px; border-radius: 5px; color:white; font-weight: bold;}
.banner_inner_l a:nth-child(2) {background-color:#3cd5f5; box-shadow: 3px 5px 5px #2e104f;}
.banner_inner_l a:last-child {margin-left:10px; background-color: none; border:1px solid #3cd5f5;}
.banner_span {color:#3cd5f5;}
.banner_inner img {width:500px;}


/*BANNER DIV END*/



/*PREVIW DIV START*/



.preview {grid-column: 1 / span 3; grid-row: 2; background-color: #fafafa; display:grid; grid-template-rows: max-content; grid-template-columns: 1fr 1fr 1fr; box-shadow: 3px 3px 3px #eee;}
.preview_inner {grid-column: 2; grid-row: 1; display: grid; grid-column-gap: 30px; padding:150px 0px;}
.preview_inner > div:not(:first-child) {display: flex; align-items: center;}
.preview_hl {grid-column: 1 / span 5; grid-row: 1; text-align: center;}
.preview_hl h2 {display:inline-block; font-size: 2rem; font-weight: bold; border-bottom: 3px solid #3cd5f5; padding-bottom: 20px; margin-bottom: 50px;}


.prev_img {grid-column: 2; grid-row:2;}
.prev_img img {width: 350px;}
.current_img {grid-column: 3; grid-row:2;}
.current_img img {width:400px;}
.next_img {grid-column: 4; grid-row:2;}
.next_img img {width:350px;}
.app_img img {box-shadow: 5px 5px 5px #bdbdbd;}


.arrow_l {grid-column: 1; grid-row: 2;}
.arrow_r {grid-column: 5; grid-row: 2;}
.arrow img{width:50px;}

/*PREVIW DIV END*/





/*FEATURES DIV START*/

.features {grid-column: 1 / span 3; grid-row: 3;display:grid; grid-template-rows: max-content; grid-template-columns: 1fr 1200px 1fr;}
.features_inner {grid-column: 2; grid-row: 1; display: grid; grid-template-rows: repeat(2, max-content); padding:150px 0px; grid-column-gap: 50px;}
.features_hl {grid-column: 1 / span 4; grid-row: 1; text-align: center;}
.features_hl h2 {display:inline-block; font-size: 2rem; font-weight: bold; border-bottom: 3px solid #3cd5f5; padding-bottom: 20px; margin-bottom: 50px;}

.feature_card {text-align: center;}
.feature_card img {width:60px; margin-bottom: 20px;}
.feature_card h4 {font-size:1.3rem; font-weight: bold; margin-bottom:20px;}
.feature_card span {font-size: 1rem; font-weight: initial; line-height: 1.5; color:#666;}

.profit_card {grid-column: 1; grid-row: 2;}
.tech_card {grid-column: 2; grid-row: 2;}
.wide_card {grid-column: 3; grid-row: 2;}
.protect_card {grid-column: 4; grid-row: 2;}


/*FEATURES DIV END*/


.faqs {grid-column: 1 / span 3; grid-row: 4; display: grid; grid-template-columns: 1fr 800px 1fr; grid-template-rows: 1; background-color:#fafafa;}
.faqs_card {padding:20px 0px; border-bottom:2px solid #e1e1e1;}
.faqs_card h3 {font-weight: bold; font-size: 1.6rem;}
.faqs_inner {grid-column: 2; grid-row: 1; display: grid; grid-template-columns: 1fr; grid-template-rows: repeat(1fr,5); padding:100px 0px;}

.faqs_content {padding-left: 10px; color:#9e9e9e; font-weight: bold; margin-top: 20px;}
.faqs_hl {grid-column: 1; grid-row: 1; text-align: center;}
.faqs_hl h2 {display:inline-block; font-size: 2rem; font-weight: bold; border-bottom: 3px solid #3cd5f5; padding-bottom: 20px; margin-bottom: 50px;}