html {scroll-behavior: smooth; overflow-x: hidden; }
body {font-family: 'Nanum Gothic', sans-serif;}
.block_word {display: inline-block; line-height: 1.5;}
a {text-decoration: none;}
a:hover {color:none;}


/*HEADER START*/

header {width:100%; display: grid; grid-template-rows: 1; grid-template-columns: 1fr 1200px 1fr; position: fixed; z-index: 99;}
.header_inner {grid-row: 1; grid-column: 2; display: flex; border-radius: 15px; padding:10px 20px; align-items: center;}
.header_inner img {width:200px;}
.nav_box {display: flex;  margin-left: auto; }
.navigation {display: flex; flex-direction: row; align-items: center;}
.navigation li a{display:inline-block; color:white; font-size:1rem; font-weight: 800;}
.navigation li:not(:last-child) a {padding-right: 30px;}
.side_btn1 {display:none;}
.header_bg {background-color:#532480; opacity: 0.8; position: fixed; top:0; z-index: 98; width:100%; height:80px; display:none;}


.side_menu {height: calc(100vh); position: fixed; width: 120px; display: flex; flex-direction: column; top:0; right:0; z-index: 889; background-color:#532480; padding:20px; text-align: right; margin-right: -160px;}
.side_menu ul {font-size: 1.2rem; line-height: 1.5; font-weight: 800;}
.side_menu ul li a {color: white;}
.side_btn2 {width:40px; margin-bottom: 20px;}

/*HEADER START*/

.wrap {display: grid; grid-template-columns:1fr 1200px 1fr; grid-template-rows: repeat(7, minmax(30px, max-content));}




/*BANNER DIV START*/


.banner {grid-column: 1 / span 3; grid-row: 1; background-image: linear-gradient(45deg, #532480 15%, #290d48); display: grid; grid-template-columns: 1fr 1200px 1fr; grid-template-rows: max-content;}
.banner_inner {grid-row: 1; grid-column: 2; display: flex; justify-content: space-between; align-items: center; padding:100px 0px;}
.banner_inner_l {margin-left:30px; margin-bottom: -30px;}
.banner_inner h1 {font-size: 2.5rem; line-height: 70px; color:white; font-weight: bold; margin-bottom: 30px;}
.banner_inner_l a {display:inline-block; padding:10px 20px; border-radius: 5px; color:white; font-weight: bold;}
.banner_inner_l a:nth-child(2) {background-color:#3cd5f5; box-shadow: 3px 5px 5px #2e104f;}
.banner_inner_l a:last-child {margin-left:10px; background-color: none; border:1px solid #3cd5f5;}
.banner_span {color:#3cd5f5;}
.banner_inner img {width:500px; margin-right: 20px;}


/*BANNER DIV END*/



/*PREVIW DIV START*/



.preview {grid-column: 1 / span 3; grid-row: 2; background-color: #fafafa; display:grid; grid-template-rows: max-content; grid-template-columns: 1fr 1200px 1fr; box-shadow: 3px 3px 3px #eee;}
.preview_inner {grid-column: 2; grid-row: 1; display: grid; grid-template-columns: max-content 300px 380px 300px max-content; grid-column-gap: 30px; padding: 80px 0px;}
.preview_inner > div:not(:first-child) {display: flex; align-items: center;}
.preview_hl {grid-column: 1 / span 5; grid-row: 1; text-align: center;}
.preview_hl h2 {display:inline-block; font-size: 2rem; font-weight: bold; border-bottom: 3px solid #3cd5f5; padding-bottom: 10px; margin-bottom: 50px;}


.prev_img {grid-column: 2; grid-row:2;}
.prev_img img {width: 100%;}
.current_img {grid-column: 3; grid-row:2;}
.current_img img {width:100%;}
.next_img {grid-column: 4; grid-row:2;}
.next_img img {width:100%;}
.app_img img {box-shadow: 5px 5px 5px #bdbdbd;}


.arrow_l {grid-column: 1; grid-row: 2;}
.arrow_r {grid-column: 5; grid-row: 2;}
.arrow img{width:50px; margin:0 auto;}

/*PREVIW DIV END*/





/*FEATURES DIV START*/

.features {grid-column: 1 / span 3; grid-row: 3; display:grid; grid-template-rows: 1; grid-template-columns: 1fr 1200px 1fr;}
.features_inner {grid-column: 2; grid-row: 1; display: grid; grid-template-columns: repeat(4, 1fr); grid-template-rows: repeat(2, max-content); padding:80px 10px;}
.features_hl {grid-column: 1 / span 4; grid-row: 1; text-align: center;}
.features_hl h2 {display:inline-block; font-size: 2rem; font-weight: bold; border-bottom: 3px solid #3cd5f5; padding-bottom: 10px; margin-bottom: 50px;}

.feature_card {text-align: center; padding:0 20px;}
.feature_card img {width:60px; margin-bottom: 20px;}
.feature_card h4 {font-size:1.3rem; font-weight: bold; margin-bottom:20px;}
.feature_card span {font-size: 1rem; font-weight: initial; line-height: 1.5; color:#666;}

.profit_card {grid-column: 1; grid-row: 2;}
.tech_card {grid-column: 2; grid-row: 2;}
.wide_card {grid-column: 3; grid-row: 2;}
.protect_card {grid-column: 4; grid-row: 2;}


/*FEATURES DIV END*/



/*FAQs DIV START*/
.faqs {grid-column: 1 / span 3; grid-row: 4; display: grid; grid-template-columns: 1fr 1200px 1fr; grid-template-rows: 1; }
.faqs_inner {grid-column: 2; grid-row: 1; display: grid; grid-template-columns: 1fr; grid-template-rows: repeat(2,max-content); padding:80px 20px;}

.faqs_hl {grid-column: 1; grid-row: 1; text-align: center;}
.faqs_hl h2 {display:inline-block; font-size: 2rem; font-weight: bold; border-bottom: 3px solid #3cd5f5; padding-bottom: 10px; margin-bottom: 50px;}



.faqs_content_box {grid-column: 1; grid-row: 2; border:2px solid #dcdcdc; border-radius: 5px; padding:40px; box-shadow: 3px 3px 3px #9a9a9a; border-right: none; border-bottom: none;}


.faqs_card {background-color: #eee; border-radius: 5px; padding:20px 40px; box-shadow: 3px 3px 3px #a8a7a7;}
.faqs_card:not(:last-child) {margin-bottom: 20px;}
.faqs_content_hl {display: flex; justify-content: space-between; align-items: center;}
.faqs_content_hl h3 {font-weight: bold; font-size: 1.2rem; font-weight: 700; display: inline-block;}
.faqs_content_hl a {display:inline-block; margin-left: 15px; text-align: center;}
.faqs_content_hl img {width:20px; margin-left: auto;}
.faqs_content {color:#9e9e9e; margin-top: 20px; padding:30px; line-height: 1.5; display: none; background-color: white; border-radius: 5px; font-weight: 600;}
/*FAQs DIV END*/


/*PARTNER DIV START*/

.partner {grid-column: 1 / span 3; grid-row: 5; display: grid; grid-template-columns: 1fr 1200px 1fr; grid-template-rows: max-content; background-image: linear-gradient(90deg, #532480 5%, #290d48);}
.partner_inner {grid-column: 2; grid-row: 1; display: grid; grid-template-columns: 1; grid-template-rows: 2; padding: 100px 0px;}

.partner_hl {grid-column: 1; grid-row: 1; text-align: center;}
.partner_hl h2 {display:inline-block; font-size: 2rem; font-weight: bold; border-bottom: 3px solid #3cd5f5; padding-bottom: 10px; margin-bottom: 50px; color:white;}

.partner_content {grid-column: 1; grid-row: 2; display: grid; grid-template-columns: repeat(4,1fr); grid-template-rows: 1;}
.partner_brand {display: flex; align-items: center; text-align: center; justify-content: center; }
.partner_brand a {display: inline-block;}
.partner_brand img {width: 80%;}

.bran1 {grid-row: 1; grid-column: 1;}
.bran2 {grid-row: 1; grid-column: 2;}
.bran3 {grid-row: 1; grid-column: 3;}
.bran4 {grid-row: 1; grid-column: 4;}
/*PARTNER DIV END*/


/*APP DIV START*/
.app {grid-column: 2; grid-row: 6; display: grid; grid-template-columns: 1fr 800px 1fr; grid-template-rows: max-content;}
.app_inner {grid-column: 2; grid-row: 1; display: flex; border: 3px solid #37155a; border-radius: 5px; justify-content: center; align-items: center; margin-top: 10px; padding:10px 30px;}
.app_logo {width:60px;}
.ad_span {font-size:1.3rem; margin-left: 20px; font-weight: bold;}
.google_link {display: inline-block; margin-left: auto;}
.google_logo {width:200px;}
/*APP DIV END*/



/*FOOTER DIV START*/
footer {grid-column: 1 / span 3; grid-row: 7; display:grid; grid-template-columns: 1fr 1200px 1fr; grid-template-rows: max-content; margin-top:10px; background-color:#eee;}
.footer_inner {grid-column: 2; grid-row: 1; padding:80px 0px;}
.footer_inner ul {text-indent: 10px; margin-top:20px; color:rgb(145, 145, 145);}
.footer_inner ul li:not(:last-child) {margin-bottom: 10px;}
.footer_inner ul li:last-child {font-weight: bold; margin-top: 50px;}
/*FOOTER DIV END*/









@media screen and (max-width: 1200px) {

    header {grid-template-columns: 100%;}
    .header_inner {grid-row: 1; grid-column: 1;}


    .wrap { grid-template-columns:100%;}




    /*BANNER DIV START*/


    .banner {grid-column: 1; grid-row: 1; grid-template-columns: 100%; }
    .banner_inner {grid-row: 1; grid-column: 1;}
    .banner_inner img {width:40%;}


    /*BANNER DIV END*/



    /*PREVIW DIV START*/

    .preview {grid-column: 1; grid-template-columns: 100%; }
    .preview_inner {grid-column: 1; grid-row: 1; grid-template-columns: 1fr 25% 31.6% 25% 1fr; grid-column-gap: 2.5%; padding:100px 0px;}    
    .arrow img{width:100%;}

    /*PREVIW DIV END*/





    /*FEATURES DIV START*/

    .features {grid-column: 1; grid-template-columns: 100%;}
    .features_inner {grid-column: 1; grid-row: 1; }


    /*FEATURES DIV END*/



    /*FAQs DIV START*/
    .faqs {grid-column: 1; grid-row: 4; grid-template-columns: 100%;}
    .faqs_inner {grid-column: 1;}

    /*PARTNER DIV START*/

    .partner {grid-column: 1; grid-template-columns: 100%; }
    .partner_inner {grid-column: 1;}



    /*PARTNER DIV END*/


    /*APP DIV START*/
    .app {grid-column: 1;}
    /*APP DIV END*/



    /*FOOTER DIV START*/
    footer {grid-column: 1; grid-row: 7; grid-template-columns: 100%; }
    .footer_inner {grid-column: 1; grid-row: 1; padding:80px 10px;}

    /*FOOTER DIV END*/
}

@media screen and (max-width: 830px) {
    .navigation{display: none;}
    .side_btn1 {display: inline-block; max-width: 40px; }


    .app {grid-template-columns: 100%;}
    .app_inner {grid-column: 1; grid-row: 1; border: 3px solid #37155a; border-radius: 5px; display: grid; grid-template-columns: 60px 200px 1fr; grid-template-rows: 1; margin-top: 10px; padding:10px 30px;}
    .app_logo {width:100%; grid-column: 1; grid-row: 1;}
    .ad_span {font-size:1.2rem; grid-column: 3; grid-row: 1; text-align: center;}
    .google_link {display: inline-block; grid-column: 2; grid-row: 1; margin-left: 10px;}
    .google_logo {width:100%;}


}

@media screen and (max-width: 800px) {


    .features_inner {grid-template-columns: repeat(2, 1fr); grid-template-rows: repeat(3, max-content); padding:100px 0px; }
    .features_hl {grid-column: 1 / span 2; }

    .profit_card {grid-column: 1; grid-row: 2;}
    .tech_card {grid-column: 2; grid-row: 2; margin-bottom: 20px;}
    .wide_card {grid-column: 1; grid-row: 3; }
    .protect_card {grid-column: 2; grid-row: 3;}




}

@media screen and (max-width: 600px) {



    .preview_inner {grid-template-columns: 1fr 70% 1fr; grid-column-gap: 30px; padding:100px 10px;}
    .preview_inner > div:not(:first-child) {display: flex; align-items: center;}
    .preview_hl {grid-column: 1 / span 3; grid-row: 1; text-align: center;}
    .preview_hl h2 {display:inline-block; font-size: 2rem; font-weight: bold; border-bottom: 3px solid #3cd5f5; padding-bottom: 10px; margin-bottom: 50px;}


    .prev_img {display:none;}
    .next_img {display:none !important;}
    .current_img {grid-column: 2; grid-row:2;}
    .current_img img {width:100%;}



    .arrow_l {grid-column: 1; grid-row: 2;}
    .arrow_r {grid-column: 3; grid-row: 2;}
    .arrow img{width:100%; margin:0 auto;}

    .banner_inner img {width:40%;}

    .banner_inner {display: flex; justify-content: center; align-items: center; padding:100px 0px;}
    .banner_inner_l {margin-left:0; margin-bottom: 0; text-align: center; padding:0 10px;}
    .banner_inner h1 {font-size: 2.5rem; line-height: 70px; color:white; font-weight: bold; margin-bottom: 30px;}
    .banner_inner img {display:none;}


}


@media screen and (max-width: 560px) {

    
    .faqs_card {padding:20px 20px; box-shadow: 3px 3px 3px #a8a7a7;}
    .faqs_content_hl h3 {font-size: 0.7rem;}
    .faqs_content {font-size:0.6rem;}



}



@media screen and (max-width: 500px) {



    .features_inner {grid-template-columns: 1fr; grid-template-rows: repeat(5, max-content); padding:100px 0px;}
    .features_hl {grid-column: 1; grid-row: 1;}
    .feature_card:not(:last-child) {margin-bottom: 30px;}

    .profit_card {grid-column: 1; grid-row: 2;}
    .tech_card {grid-column: 1; grid-row: 3; margin-bottom: 0;}
    .wide_card {grid-column: 1; grid-row: 4;}
    .protect_card {grid-column: 1; grid-row: 5;}



    .partner_content {grid-template-columns: repeat(2,1fr); grid-template-rows: 2;}

    
    .bran1 {grid-row: 1; grid-column: 1;}
    .bran2 {grid-row: 1; grid-column: 2;}
    .bran3 {grid-row: 2; grid-column: 1;}
    .bran4 {grid-row: 2; grid-column: 2;}




    .app_inner {grid-template-columns: 1fr 60px 200px 1fr; grid-template-rows: 2; margin-top: 10px; padding:10px 30px;}
    .app_logo {width:100%; grid-column: 2; grid-row: 1;}
    .ad_span { grid-column: 1 / span 4; grid-row: 2; }
    .google_link {display: inline-block; grid-column: 3; grid-row: 1; margin-left: 10px;}
    .google_logo {width:100%;}


}